.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center; /* centra verticalmente */
    align-items: center;     /* centra horizontalmente */
    text-align: center;
    min-height: 70vh; /* ocupa casi toda la pantalla */
}

.btn {
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #00b0b1;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

.btn:hover {
    background-color: #008b8b;
}
